* {
    box-sizing: border-box;
  }
#myInput {
   
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px; 
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  .search {
      font-size: 50px;
      padding: 10px;
      margin: 10px;
  }
  #myTable {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #myTable tr {
    width: 100%;
  }

  #myTable td {
    float: left;
    border: 1px solid #ddd; 
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block; 
    width: 100%;
  }
  #myTable td:hover {
    background-color: #b6b4b4;
  }